* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0rem;
}

button {
    background-color: #3882F6;
    border: 0px;
    border-radius: .5rem;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 10rem;
    height: 3rem;

    transition: .2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
}

/* ALL MAIN SECTION */

.header,
.title,
.content,
.quote,
.footer {
    padding: 1rem 10rem;
}

/* HEADER */
.header {
    background-color:#1F2937;
    color: #F9FAF8;
    display: flex;
    margin: 0rem;
    /* padding: 1rem 10rem; */
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    display: flex;
    justify-content: left;

}

.header .links {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.header p {
    font-size: 18px;
    color:#E5E7EB;
}

/* TITLE */

.title {
    color:#F9FAF8;
    background-color:#1F2937;
    margin: 0rem;
    padding: 3rem 10rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.title h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.title .left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title .right {
    height: 10rem;
    border: 3px;
    background-color: #9b9b9d;
    flex: 1;
}

/* CONTENT */

.content h1 {
    color:#152937;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 4rem;
    font-size: 36px;
}

.content .portfolio {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.photo {
    height: 10rem;
    width: 100%;
    border: 3px solid #3882F6;
    border-radius: .5rem;
}